* {
 margin: 0;
 padding: 0;
 /*border: 1px solid red;*/
 box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
 list-style: none;
}

img {
 height: 24px;
 width: 24px;
}

.wrapper {
 display: grid;
 grid-template: 1fr 5fr / 1fr 3fr;
 grid-template-areas: 
 "sidebar header"
 "sidebar main-content";
 height: calc(100vh - 9px);
}

.sidebar {
 grid-area: sidebar;
 display: flex;
 flex-direction: column;
 gap: 40px;

 color: white;
 background-color: rgb(79, 154, 230);
 padding: 20px;
 
}

.logo {
 font-size: 40px;
 font-weight: bold;
}

.nav {
}

.header {
 grid-area: header;
 display: grid;
 align-items: center;
 grid-template: 1fr 1fr / 1.5fr 1fr;
 gap: 10px;

 padding: 20px;
}

.user-info {
 display: flex;
 justify-content: flex-end;
}

.header-buttons {
 display: flex;
 justify-content: flex-end;
 gap: 10px;
}

.header-buttons > * {
 background-color: rgb(79, 154, 230);
 border-radius: 14px;
 border: 0px;

 color: white;
 padding: 7px 15px;
 font-size: 12px;
 font-weight: bold;
}

.greeting {
 display: flex;
 align-items: center;
}

.main-content {
 grid-area: main-content;
 display: grid;
 grid-template: 1fr 1fr / 3fr 1fr;
 grid-template-areas: 
 "projects announcements"
 "projects trending";

 gap: 20px;

 background-color: rgb(226, 235, 243);
 padding: 20px;
}

.main-content > * > h1 {
 margin-bottom: 15px;
 font-size: 30px;
}

.projects {
 grid-area: projects;
}

.cards {
 display: grid;
 grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
 gap: 30px;
}

.card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;

 background-color: white;
 padding: 10px;
 height: 200px;
}

.card > .card-buttons {
 display: flex;
 align-self: flex-end;
}

.announcements {
 grid-area: announcements;
}

.announcements-box {
 background-color: white;
 padding: 30px;
}

.announcements-box > * {
 margin-bottom: 25px;
}

.announcement:last-child {
 margin-bottom: 0;
}

.trending {
 grid-area: trending;
}

.trending-box {
 background-color: white;
 padding: 20px;
}