:root {
 --sidebar-bg: #991b1b;
 --dark-sidebar-bg: #7f1d1d;
 --sidebar-text: #f4f4f5;
 --soft-sidebar-text: #d4d4d8;
 --main-bg: #e2e8f0;
 --shadows: #a3a3a334;
 --soft-text: #57534e;
 --soft-accents: #57534e54;
 --card-accents: #d97706;
 --main-hover: #52525b;
 --main-hover-bg: #e2e8f073;
}

* {
 margin: 0;
 padding: 0;
 /*border: 1px solid red;*/
 box-sizing: border-box;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
 text-decoration: none;
 color: inherit;
}

li {
 list-style: none;
}

img {
 height: 24px;
 width: 24px;
}

.wrapper {
 display: grid;
 grid-template: 1fr 5fr / 1fr 3fr;
 grid-template-areas: 
 "sidebar header"
 "sidebar main-content";
 height: calc(100vh - 9px);
}

.sidebar {
 grid-area: sidebar;
 display: flex;
 flex-direction: column;
 gap: 50px;

 color: var(--sidebar-text);
 background-color: var(--sidebar-bg);
 padding: 20px;
}

.sidebar * {
 font-weight: bold;
}

.sidebar svg {
 height: 1em;
 width: auto;
}

.sidebar a:hover {
 color: var(--soft-sidebar-text);
 background-color: var(--dark-sidebar-bg);
}

.logo {
 font-size: 30px;
 display: flex;
 align-items: center;
 pointer-events: none;
}

.nav,
.menu {
 font-size: 22px;
}

.nav a,
.menu a {
 display: flex;
 column-gap: 10px;
 align-items: center;

 padding: 5px;
 border-radius: 5px;
}

.sidebar li:not(:last-child) {
 margin-bottom: 15px;
}

.header {
 grid-area: header;
 display: grid;
 align-items: center;
 grid-template: 1fr 1fr / 1.5fr 1fr;
 gap: 10px;
 position: relative;

 padding: 20px;

 background-color: var(--sidebar-text);
 box-shadow: 0px 3px  var(--shadows);
}

.search {
 position: relative;
}

.search,
#search {
 width: 100%;
 font-size: 24px;
}

.search svg {
 position: absolute;
 height: 80%;
 width: auto;
 fill: var(--soft-accents);
 pointer-events: none;
 top: 12%;
 left: 2%;
}

#search {
 border: none;
 border-radius: 25px;
 background-color: var(--main-bg);
 font-size: 1em;
 padding: 9px 19px;
}

#search:focus ~ svg {
 height: 0;
}

.user-info {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 20px;
 font-size: 1rem;
 font-weight: bold;
}

.user-info button {
 display: flex;
 position: relative;
 border: none;
 border-radius: 5px;
 background: none;
 padding: 9px;
}

.user-info svg {
 fill: black;
}

.user-info button:hover {
 background-color: var(--main-hover-bg);
}

.user a {
 display: flex;
 align-items: center;
 gap: 0.55em;
 font-size: inherit;
 padding: 5px;
 border-radius: 5px;
}

.user a:hover {
 background-color: var(--main-hover-bg);
}

.user img {
 height: 2em;
 width: auto;
}

.header-buttons {
 display: flex;
 justify-content: flex-end;
 gap: 10px;
}

.header-buttons > * {
 background-color: var(--sidebar-bg);
 border-radius: 14px;
 border: 0px;

 color: var(--sidebar-text);
 padding: 7px 15px;
 font-size: 14px;
 font-weight: bold;
}

.greeting {
 display: flex;
 align-items: center;
 gap: 10px;
 font-size: 1.2rem;
 font-weight: bold;
 pointer-events: none;
}

.greeting img {
 height: 3em;
 width: auto;
}

.greeting-text {
 display: flex;
 flex-direction: column;
}

.greeting-text > span {
 font-size: 0.7em;
}

.header-buttons button:hover {
 color: var(--soft-sidebar-text);
}

.header-buttons button:active {
 background-color: var(--dark-sidebar-bg);
}

.main-content {
 grid-area: main-content;
 display: grid;
 grid-template: 1fr / 3fr 1fr;

 gap: 20px;

 background-color: var(--main-bg);
 padding: 20px;
}

.main-content h1 {
 margin-bottom: 15px;
 font-size: 30px;
 pointer-events: none;
}

.content {
 background-color: var(--sidebar-text);
 box-shadow: 0px 3px  var(--shadows);
 border-radius: 5px;
}

.cards {
 display: grid;
 grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
 gap: 30px;
}

.card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;

 padding: 20px 10px 20px 30px;
 height: min(15rem , 200px);
}

.card h3 {
 cursor: pointer;
}

.card::before {
 content: '';
 position: absolute;
 width: 10px;
 height: 100%;
 background-color: var(--card-accents);
 left: 0px;
 top: 0px;
 border-radius: 5px 0px 0px 5px;
}

.card > .card-buttons {
 display: flex;
 align-self: flex-end;
}

.card button {
 background: none;
 border: none;
 height: 1.7em;
 width: 1.7em;
 margin: 5px 15px 0px 10px;
}

.card button:hover > svg {
 fill: var(--main-hover);
}

.card button:active > svg {
 zoom: 90%;
 fill: black;
}

.card svg {
 height: 1.5em;
 width: 1.5em;
 fill: black;
}

.news {
 display: flex;
 flex-direction: column;
 gap: 40px;
}

.news > div {
 display: grid;
 gap: 10px;
}

.announcements-box {
 display: grid;
 gap: 40px;

 padding: 30px;
}

.announcement h4 {
 margin-bottom: 5px;
 cursor: pointer;
}

.announcements-box > div:not(:last-child) {
 position: relative;
}

.announcements-box > div:not(:last-child)::after {
 content: '';
 position: absolute;
 background-color: var(--soft-accents);
 height: 2px;
 width: 100%;
 top: calc(100% + 20px);
}

.trending-box {
 display: grid;
 gap: 20px;
 padding: 30px;
}

.trending-user a {
 display: grid;
 grid-template-columns: 1fr 4fr;
 grid-auto-flow: column;
 align-items: center;
 padding: 5px;
 border-radius: 5px;
}

.trending-user img {
 height: 2em;
 width: auto;
 margin-right: 15px;
}

.trending-user:hover {
 background-color: var(--main-hover-bg);
}

.trending-user-info {
 display: flex;
 flex-direction: column;
}

.content p,
.content span {
 color: var(--soft-text);
 pointer-events: none;
}

.content p {
 font-size: 0.95em;
}

.content span {
 font-size: 0.8em;
}