:root {
 --sidebar-bg: rgb(79, 154, 230);
 --sidebar-text: white;
 --main-bg: rgb(226, 235, 243);
 --shadows: rgba(192, 192, 192, 0.199);
 --soft-text: rgb(107, 107, 107);
 --soft-accents: rgb(107, 107, 107, 0.35);
 --card-accents: orange;
}

* {
 margin: 0;
 padding: 0;
 /*border: 1px solid red;*/
 box-sizing: border-box;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
 list-style: none;
}

img {
 height: 24px;
 width: 24px;
}

.wrapper {
 display: grid;
 grid-template: 1fr 5fr / 1fr 3fr;
 grid-template-areas: 
 "sidebar header"
 "sidebar main-content";
 height: calc(100vh - 9px);
}

.sidebar {
 grid-area: sidebar;
 display: flex;
 flex-direction: column;
 gap: 50px;

 color: var(--sidebar-text);
 background-color: var(--sidebar-bg);
 padding: 20px;
 
}

.sidebar > * {
 font-weight: bold;
}

.sidebar svg {
 height: 1em;
 width: auto;
}

.logo {
 font-size: 30px;
 display: flex;
 align-items: center;
}

.nav,
.menu {
 font-size: 22px;
}

.nav li,
.menu li {
 display: flex;
 gap: 10px;
 align-items: center;
}

.sidebar li:not(:last-child) {
 margin-bottom: 15px;
}

.header {
 grid-area: header;
 display: grid;
 align-items: center;
 grid-template: 1fr 1fr / 1.5fr 1fr;
 gap: 10px;
 position: relative;

 padding: 20px;

 box-shadow: 0px 3px  var(--shadows);
}

.search {
 position: relative;
}

.search,
#search {
 width: 100%;
 font-size: 24px;
}

.search svg {
 position: absolute;
 height: 1em;
 width: auto;
 fill: var(--soft-accents);
 pointer-events: none;
 top: 3px;
 left: 3px;
}

#search {
 border: none;
 border-radius: 5px;
 background-color: var(--main-bg);
 font-size: 1em;
}

.user-info {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 20px;
}

.user-info button {
 position: relative;
 border: none;
 background: none;
 margin: auto 0;
 height: 30px;
 width: 30px;
}

.user-info svg {
 position: absolute;
 top: 3px;
 left: 3px;
 fill: black;
}

.user-info svg:hover {
 fill: var(--soft-accents);
}

.user {
 display: flex;
 align-items: center;
 gap: 5px;
}

.header-buttons {
 display: flex;
 justify-content: flex-end;
 gap: 10px;
}

.header-buttons > * {
 background-color: var(--sidebar-bg);
 border-radius: 14px;
 border: 0px;

 color: var(--sidebar-text);
 padding: 7px 15px;
 font-size: 12px;
 font-weight: bold;
}

.greeting {
 display: flex;
 align-items: center;
 gap: 10px;
}

.greeting-text {
 display: flex;
 flex-direction: column;
 font-size: 1.2rem;
}

.greeting-text > span {
 font-size: 0.7em;
}

.main-content {
 grid-area: main-content;
 display: grid;
 grid-template: 1fr 1fr / 3fr 1fr;
 grid-template-areas: 
 "projects announcements"
 "projects trending";

 gap: 20px;

 background-color: var(--main-bg);
 padding: 20px;
}

.main-content > * > h1 {
 margin-bottom: 15px;
 font-size: 30px;
}

.content {
 background-color: var(--sidebar-text);
 box-shadow: 0px 3px  var(--shadows);
 border-radius: 5px;
}

.projects {
 grid-area: projects;
}

.cards {
 display: grid;
 grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
 gap: 30px;
}

.card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;

 padding: 30px 10px 30px 30px;
 height: min(15rem , 200px);
}

.card::before {
 content: '';
 position: absolute;
 width: 10px;
 height: 100%;
 background-color: var(--card-accents);
 left: 0px;
 top: 0px;
 border-radius: 5px 0px 0px 5px;
}

.card > .card-buttons {
 display: flex;
 align-self: flex-end;
}

.announcements {
 grid-area: announcements;
}

.announcements-box {
 display: grid;
 gap: 40px;

 padding: 30px;
}

.announcement h4 {
 margin-bottom: 5px;
}

.announcements-box > div:not(:last-child) {
 position: relative;
}

.announcements-box > div:not(:last-child)::after {
 content: '';
 position: absolute;
 background-color: var(--soft-accents);
 height: 2px;
 width: 100%;
 top: calc(100% + 20px);
}

.trending {
 grid-area: trending;
}

.trending-box {
 display: grid;
 gap: 20px;
 padding: 30px;
}

.trending-user {
 display: grid;
 grid-template-columns: 1fr 4fr;
 grid-auto-flow: column;
 align-items: center;
}

.trending-user-info {
 display: flex;
 flex-direction: column;
}

.content p,
.content span {
 color: var(--soft-text);
}

.content p {
 font-size: 0.95em;
}

.content span {
 font-size: 0.8em;
}